/* // vv ====== HEADER ====== vv // */

header {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

nav {
  margin-bottom: 100px;
  font-family: 'Permanent Marker', cursive;
}

#rpsTitle {
  font-family: 'Sigmar One', cursive ; font-size: 40px;
  padding-bottom: 5px;
}
/* // ^^ ====== HEADER ====== ^^ // */


/* // vv ====== ABOUT US ====== vv // */

#aboutUs {
  float: left;
  margin-top: 40px;
}

#column1,
#column2,
#column3 {
  display: inline-block;
}

.pictureColumn {
  width: 22%;
}

#column2 {
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0000008c;
  border-radius: 10px;
  padding: 10px 8px;
  
}

#column2 > p {
  padding-bottom: 10px;
}

.about-name {
  font-size: medium;
  font-weight: bold;
}

.aboutUsImg > img {
  width: 100px;
  margin: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.imgBox > a {
  display: block;
  font-size: small;
}

.imgBox {
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.imgBox > div {
  width: 100px;
  height: 120px;
  margin: auto;
}

.imgBox > p {
  font-family: 'Sigmar One', cursive ; font-size: medium;
}

.imgBox > a {
  font-family: 'Permanent Marker', cursive;
}

#img1, #img3 {
  padding-bottom: 10px;
}




.linkedin {
  float: left;
  width: 40px;
}


.github {
  margin-top: 5px;
  float: right;
  width: 30px;
}


#img2, 
#img4 {
  margin-top: 40px;
}
/* // ^^ ====== ABOUT US ====== ^^ // */


/* // vv ====== HIGH SCORES ====== vv // */

#highScores {
  float: right;
  margin-top: 40px;
}

#highscore-table {
  margin: auto;
  border: 1px solid whitesmoke;
}

/* // ^^ ====== HIGH SCORES ====== ^^ // */


/* // vv ====== GAME SCREENS ====== vv // */

#gamePage,
#aboutUsPage,
#highScoresPage {
  color: rgb(109, 106, 106);
  background-image:url(../images/background-for-RSP.jpg) ;
}

#choose-Round{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: rgb(255,255,255);
  line-height: 26px;
}

#name-entry {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body {
  background-color: whitesmoke;
  width: 80%;
  margin: auto;
  text-align: center;
}

#rounds-screen,
#main-game-screen,
#animation-screen,
#victory-screen,
#ui-screen{
  display: none;
  margin: auto;
}

.info-screen {
  width: 500px;
  height: 375px;
  margin: auto;
}

.game-screen {
  width: 500px;
  height: 375px;
  margin: auto;
}

.ui-screen {
  width: 500px;
  padding-top: 15px;
  color: white;
}

.uiRounds {
  font-family: 'Permanent Marker', cursive;
  float: left;
}

.uiWinLoss {
  font-family: 'Permanent Marker', cursive;
  float: right;
}

.uiName {
  font-family: 'Permanent Marker', cursive;
  margin: auto;
  display: inline-block;
  margin-top: -10px;
}

#test-victory {
  font-family: 'Permanent Marker', cursive;
  padding-top: 10px;
}

#button-section{
  line-height: 375px;
}

#name-form > button {
  width: 50px;
  height: 24px;
}

input#nameInput {
  height: 16px;
}

#name-form > label {
  font-size: 20px;
}

select#roundValue {
  height: 24px;
}

button#rounds-button {
  width: 50px;
  height: 24px;
}

#next-round-button{
  margin-top: 147px;
}

#weaponButtonOne,
#weaponButtonTwo,
#weaponButtonThree,
#next-round-button {
  width: 70px;
  height: 50px;
}

#weaponButtonOne,
#weaponButtonThree {
  margin-right: 10px;
}

#name-form {
  line-height: 350px;
  color: rgb(255,255,255);
}

#roundsform {
  padding-top: 150px;
}

#canvas {
  margin: auto;
}

a {
  color: white;
  
}

p{
  color: white;
}

section#name-screen.info-screen{
  background-color: #b1aca681;
}

.game-screen,
.info-screen
{
  background-color: #b1aca681;
}

th {
    color: white;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 28px;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 5px;
}

td {
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-style: italic;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px dotted whitesmoke;
}

.nameTd {
  text-align: left;
  border-right: 1px solid whitesmoke;
  padding: 0 10px;

}
/* // ^^ ====== HIGH SCORES ====== ^^ // */
